@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

body {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../assets/Background_Desktop.svg');
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 1vw;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #333 !important;
    font-size: 2vw;
    transition: top 500ms ease-in-out;
    text-align: bottom;
}

#logo {
    width: 20%;
    margin: auto 0.5em auto 0;
    transition: transform 200ms ease-in-out;
}

#logo:hover {
    transform: scale(1.05);
}

.navbar-brand {
    text-align: left;
    font-size: 1em; 
    width: min-content !important;
}

.nav-link {
    color: white !important;
    transition: color 1000ms ease-in-out, transform 250ms ease-in-out !important;
}

.nav-link:hover {
    transform: translateY(-0.1em);
}

.active.nav-link {
    color: #44ADE2 !important;
}

#particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#wrapper {
    z-index: 2;
    /* Allows interaction with the particles but breaks fullpage.js scrolling for mobile */
    /*pointer-events: none;*/
}

#landingPageContainer {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#landingPageContainer h1 {
    font-family: 'Roboto Slab', 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 5vw !important;
    margin-top: 5vh !important;
}

#landingPageContainer h3 {
    font-family: 'Roboto Slab', 'Montserrat', sans-serif;
    font-weight: bold;
    animation-delay: 1000ms;
    font-size: 4vw !important;
}

#landingPageContainer button {
    pointer-events: all;
    background-color: transparent;    
    border-radius: .25em;
    border: 0.1em solid #fff;
    color: #fff;
    transition: transform 300ms ease-in-out, border 200ms ease-in-out 50ms, width 300ms ease-in-out, background-color 500ms ease-in-out, color 500ms ease-in-out;
    font-size: 3vw !important;
    margin-bottom: 1.5em !important;
}

#landingPageContainer button:hover {
    transform: scale(1.045) !important;
    cursor: pointer !important;
}

/*Styling Control Arrows for slides*/
.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    border:none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    margin-top: auto !important;
    margin-bottom: auto !important;
    pointer-events: all;
}

.fp-controlArrow.fp-prev {
    left: 0;
    background-image: url('../assets/back.svg') !important;
    background-size: cover;
}

.fp-controlArrow.fp-prev:hover {
    transform: scale(1.1);
}

.fp-controlArrow.fp-next {
    right: 0;
    background-image: url('../assets/next.svg');
    background-size: cover;
}

.fp-controlArrow.fp-next:hover {
    transform: scale(1.1);
}

.sectionContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.fp-slides {
    z-index: 2 !important;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slideContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 3.5em;
    padding-right: 3.5em;
    margin-bottom: 3.5em;
    flex: 1 !important;
    align-items: stretch !important;
    max-height: 60%;
}

.fp-slide.active {
    animation-duration: 700ms;
}

hr {
    border-color: #44ADE2;
    margin: 1em 0 1em 0;
}

.blogPostDate {
    color: #9e9e9e !important;
}

.card {
    background-color: #333 !important;
}

.sectionContainer h1 {
    margin-top: 1em;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title {
    margin-bottom: 0;
}

.about .card-title {
    margin-top: 5%;
    font-size: 1.5em;
}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
    #landingPageContainer h1 {
        margin-top: 10vh;
        font-size: 7vw;
    }

    #landingPageContainer h3 {
        margin-top: 1em;
        font-size: 6vw;
    }

    #landingPageContainer button {
        margin-top: auto;
        margin-bottom: 2em;
        width: 60%;
        padding: 10px;
        font-size: 5vw;
        font-weight:bold;
    }

    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
        width: 2.5%;
        height:6%;
    }

    .fp-controlArrow.fp-prev {
        margin-left: 1.5em;
    }

    .fp-controlArrow.fp-next {
        margin-right: 1.5em;
    }

    .card {
        width: 31% !important;
        min-height: 100% !important;
    }

    .fp-slides {
        padding-left: 2em;
        padding-right: 2em;
    }

    .blogPostBody {
        padding: 1em;
    }

    .blogPost, .project {
        transition: transform 300ms ease-in-out;
    }
    
    .blogPost:hover, .project:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .projectIcon {
        max-height: 8em;
        margin-bottom: 0.5em;
    }

    .card:first-child, .card:nth-child(2) {
        margin-right: 3.5%;
    }
}

/*Bootstrap Hamburger Menu Breakpoint*/
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .navbar {
        font-size: 3.5vw;
    }

    #landingPageContainer h1 {
        margin-top: 10vh;
        font-size: 9vw !important;
    }

    #landingPageContainer h3 {
        margin-top: 0.25em !important;
        font-size: 7.5vw !important;
    }

    #landingPageContainer button {
        margin-top: auto;
        margin-bottom: 0.5em !important;
        width: 95%;
        padding: 1vw;
        font-size: 6vw !important;
        font-weight:bold;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 577px) and (max-width:768px) {
    #landingPageContainer h1 {
        margin-top: 10vh;
        font-size: 9vw !important;
    }

    #landingPageContainer h3 {
        margin-top: 0.25em !important;
        font-size: 7.5vw !important;
    }

    #landingPageContainer button {
        margin-top: auto;
        margin-bottom: 1em !important;
        width: 95%;
        padding: 1vw;
        font-size: 6vw !important;
        font-weight:bold;
    }

    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
        width: 2.5%;
        height:6%;
    }

    .fp-controlArrow.fp-prev {
        margin-left: 1.5em;
    }

    .fp-controlArrow.fp-next {
        margin-right: 1.5em;
    }

    .navbar {
        font-size: 4.5vw;
    }
}

/* Mobile Styles */
@media only screen and (min-width: 451px) and (max-width: 576px) {
    #landingPageContainer h1 {
        margin-top: 10vh;
        font-size: 9vw !important;
    }

    #landingPageContainer h3 {
        margin-top: 0.25em !important;
        font-size: 7.5vw !important;
    }

    #landingPageContainer button {
        margin-top: auto;
        margin-bottom: 1em !important;
        width: 95%;
        padding: 1vw;
        font-size: 8vw !important;
        font-weight:bold;
    }

    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
        width: 2.5%;
        height:6%;
    }

    .fp-controlArrow.fp-prev {
        margin-left: 1.5em;
    }

    .fp-controlArrow.fp-next {
        margin-right: 1.5em;
    }

    .navbar {
        font-size: 6vw;
    }
}

@media only screen and (max-width: 450px) {
    #landingPageContainer h1 {
        margin-top: 10vh;
        font-size: 9vw !important;
    }

    #landingPageContainer h3 {
        margin-top: 0.25em !important;
        font-size: 7.5vw !important;
    }

    #landingPageContainer button {
        margin-top: auto;
        margin-bottom: 1em !important;
        width: 95%;
        padding: 1vw;
        font-size: 8vw !important;
        font-weight:bold;
    }

    .navbar {
        font-size: 7.5vw;
    }

    .card {
        width: 85% !important;
        min-height: 100% !important;
    }

    .slideContainer {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0;
    }

    .card-img-top {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    
    .card-title {
        margin-bottom: 0;
        font-size: 7vw;
    }

    .card-text {
        font-size: 5vw;
    }

    hr {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
        width: 6vw;
        height: 5vh;
    }

    .fp-controlArrow.fp-prev {
        margin-left: 1em;
    }

    .fp-controlArrow.fp-next {
        margin-right: 1em;
    }
}