@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

html, body {
    height: 100%;
}

body {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../assets/Background_Desktop.svg');
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 6vw;
    background-attachment: fixed;
    position: relative;
}

.navbar {
    z-index: 999;
    background-color: #333 !important;
    font-size: 2vw;
    text-align: bottom;
}

#logo {
    width: 20%;
    margin: auto 0.5em auto 0;
    transition: transform 200ms ease-in-out;
}

#logo:hover {
    transform: scale(1.05);
}

.navbar-brand {
    text-align: left;
    font-size: 1em; 
    width: min-content !important;
}

.nav-link {
    color: white !important;
    transition: color 1000ms ease-in-out, transform 250ms ease-in-out !important;
}

.nav-link:hover {
    transform: translateY(-0.1em);
}

.active.nav-link {
    color: #44ADE2 !important;
}

#particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#wrapper {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

hr {
    border-color: #44ADE2;
    margin: 1% 0;
}

p {
    font-size: 0.3em;
    text-align: left;
}

p:last-of-type {
    margin-bottom: 0;
}

#project {
    background-color: #333;
    border-radius: 0.0416em;
    overflow: auto;
}

#infoContainer, #iconContainer {
    display: flex;
    justify-content: space-between;
}

#iconContainer {
    height: fit-content;
}

h2 {
    text-align: left;
}

i {
    transition: font-size 200ms ease-in-out, color 200ms ease-in-out;
}

i:hover {
    cursor: pointer;
    color: #ccc;
}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
    #project {
        width: 65%;
        margin: 1% auto 1% auto;
        padding: 2% 2.5%;
    }

    #carousel {
        position: relative;
        max-height: 540px;
    }

    .carousel-inner {
        height: 540px;
        border-radius: 0.0416em;
    }
    
    .carousel-inner .item {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
    }
    
    .carousel-inner .item img {
        width: 100%;
        min-height: 100%;
        max-height: none;
    }

    .carousel-item {
        width: 100%;
        min-height: 100%;
        max-height: none;
    }

    h1 {
        margin-top: 1%;
        font-size: 0.6em;
    }

    h2 {
        font-size: 0.5em;
    }

    #skillsContainer ul {
        font-size: 0.4em;
    }

    #iconContainer {
        font-size: 0.5em;
        width: 12%;
    }
}

/*Bootstrap Hamburger Menu Breakpoint*/
@media only screen and (min-width: 769px) and (max-width: 991px) {
    
}

/* Tablet Styles */
@media only screen and (min-width: 577px) and (max-width:768px) {
    
}

/* Mobile Styles */
@media only screen and (min-width: 451px) and (max-width: 576px) {
    
}

@media only screen and (max-width: 450px) {
    
}